*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos del Header*/
header{
    width: 100%;
    height: 200px;
    padding: 10px;
}
.alura-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
/*Estilos del main*/
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "contenedor contenedor aside"
    "contenedor contenedor aside"
    "contenedor contenedor aside";
}
h1{
    color: #154682;
}
.contenedor{
    grid-area: contenedor;
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#texto{
    width: 700px;
    height: 500px;
    background-color: #e4e7eb;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 3em;
    color: #154682;
}
.button{
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    background-color: #154682;
    color: #f1f1f1;
}
.btn_desc{
    padding: 15px 30px;
    border-radius: 15px;
    border: 2px solid #154682;
    color: #154682;
    background-color: transparent;
}

/*Estilos de aside*/
aside{
    grid-area: aside;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}
#text_desc{
    background-color: #e4e7eb;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 3em;
    color: #154682;
}
.active{
    display: block;
}

@media screen and (max-width: 480px){
    main{
        display: flex;
        flex-flow: column nowrap;
    }
}

